
*{
    font-family: 'EB Garamond', serif;
}

body{
    background-color:rgba(237, 239, 240, 0.085);
    padding-left: 3%;
    padding-right: 3%;
}
.titulo{
    font-family: 'Noto Serif', serif;
    display: flex;
    color: #a9c971;
    justify-content: center;
}
.tituloMain{
    font-family: 'Noto Serif', serif;
    display: flex;
    color: #a9c971;
    justify-content: center;
}
nav{
    justify-content: space-between;
    display: flex;
}
.container{
    display: flex;
    justify-content: center;
}
p{
font-size: 25px;
}
a:hover{
    color:#a9c971;
}
ul,h2{
    font-size: 25px;
    font-style: italic;
}
p{
    font-size: 25px;
    margin-top: 0px;
}
img{
    width: 300px;
}
a{
    text-decoration: none;
    color: black;
}
.infoPlanta{
    background-color:rgb(241, 241, 241);
}
/*.pieForm{
    align-content: center;
    text-align: center;
    border-style: solid;
}*/
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;;
    background-color: #a9c971;
    justify-content: center;
  }
.pieForm{
    text-shadow: black;
}
.error{
    border: 1px solid red;
  }
  #errores{
    border: 1px solid red;
    padding: 5px;
    display: none;
  }
  #errores p{
    color: red;
  }
  .msjContenedor{
    border: 1px#a9c971;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #a9c971;
    width: 30%;
    position: relative;
  }
input{
    width:200px;
}
.aromaticas{
    display: flex;
    justify-content:center;
    width: 30%;
}
.carrusel{
   width: 40%;
   display: flex;
}
.containerCarrusel{
    width: 100%;
    display: flex;
}
#imagenCarrusel{
    width: 550px;
    height: 750px;
}
/*Los colores del backgroud solo los toma en google crome, idk*/
#btnAnterior{
    position: absolute;
    top: 90%;
    right: 83%;
    width: 100px;
    background-color: #a9c971;
}
#btnSiguiente{
    position: absolute;
    top: 90%;
    right: 77%;
    width: 100px;
    background-color: #a9c971;
}
.introPagina,h2{
    width: 60%;
    font-size: 60px;
}
.info{
    font-family: 'Roboto Mono', monospace;
    font-size: 50%;
    background-color: #ecf3e2;
}
/*footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: rgb(0, 0, 0);
}*/
.resul{
    display: block;
}
.btnForm{
    width: 75%;
    align-self: center;
}
.nav_plantas{
justify-content: start;
}

